.card{
    font-family: "Merriweather", serif;
    width: 600px;
    padding: 50px;
    height: 500px;
    display: flex;
    border: 10px;
    border-color: blueviolet;
    font-family: sans-serif;
    text-align: center;
    word-spacing: 5px;
    border-width: 5px;
    margin: 300px;
    border-style: ridge;
    outline: 5px;
    flex-direction: column;
    display: inline-block;
    background-color: f0f4f8#;  
}
.card video{
    height: 200px;
    width: 200px;
    padding: 10px;
    object-fit: cover;
    border-radius: 20px;
    align-items: center;
    border-color: blueviolet;
    margin: 10px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
}
.inline-block1{
    display: inline;
    height: 20px;
    width: 20px;
    padding: 10px;
    margin top:  150px;
    background-color: khaki;
    border-radius : 5px;
    margin: bottom 15px;
}
.inline-block2{
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 10px;
    background-color: darksalmon;
    border-radius: 5px;
}